In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 52.8 MB/s
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 62.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=69befef9b13c2b5128ce206fbd51a7d51d1f9ff3a9fab86a50434f30c74029b4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
#Initializing Pyspark using findspark.init(SPARK_HOME_PATH)
#init() default it will consider SPARK_HOME Environment variabbles..
import findspark
findspark.init()

In [ ]:
#import sparkcontext
from pyspark import SparkContext

In [ ]:
#create SparkContext
sc = SparkContext.getOrCreate()
print("SparkCOntext: ",sc)

SparkCOntext:  <SparkContext master=local[*] appName=pyspark-shell>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder \
        .master("local") \
        .appName("YourLucky1") \
        .getOrCreate()

In [ ]:
df_emp = spark.read.option("inferSchema","true").option("deliiter",",").option("header","true")\
.csv('sample_data/Emp_Table_Extract.csv')

In [ ]:
df_emp.createOrReplaceTempView("emp_tab")

In [ ]:
spark.sql("select ename,sal,sal+nvl(comm,0) tot_sal from emp_tab").show()

+------+----+-------+
| ename| sal|tot_sal|
+------+----+-------+
|  KING|5000|   5000|
| BLAKE|2850|   2850|
| CLARK|2450|   2450|
| JONES|2975|   2975|
| SCOTT|3000|   3000|
|  FORD|3000|   3000|
| SMITH| 800|    800|
| ALLEN|1600|   1900|
|  WARD|1250|   1750|
|MARTIN|1250|   2650|
|TURNER|1500|   1500|
| ADAMS|1100|   1100|
| JAMES| 950|    950|
|MILLER|1300|   1300|
+------+----+-------+

# **Pyspark User Defined Functions**

In [ ]:
def tot_sal(sal,comm):
  if comm is None:
    return sal
  else:
    return sal+comm

In [ ]:
from pyspark.sql.types import IntegerType
#This will make it available to use(Stored in SQL metastore)

In [ ]:
spark.udf.register(name='tot_sal',f=tot_sal,returnType=IntegerType())

In [ ]:
spark.sql("select ename,deptno,tot_sal(sal,comm) tot_sal from emp_tab").show()

+------+------+-------+
| ename|deptno|tot_sal|
+------+------+-------+
|  KING|    10|   5000|
| BLAKE|    30|   2850|
| CLARK|    10|   2450|
| JONES|    20|   2975|
| SCOTT|    20|   3000|
|  FORD|    20|   3000|
| SMITH|    20|    800|
| ALLEN|    30|   1900|
|  WARD|    30|   1750|
|MARTIN|    30|   2650|
|TURNER|    30|   1500|
| ADAMS|    20|   1100|
| JAMES|    30|    950|
|MILLER|    10|   1300|
+------+------+-------+

In [ ]:
df1

NameError: ignored